<%- include('header'); -%>
<%- include('navbar') %>
        <title> Welcome</title>
          
            <h1>Welcome</h1>
            <h2> Please log in to see conference list </h2>
             
     
<%- include('footer'); -%>